/*-----------------------------------------------------------------------------------

    Template Name: Recipe &  Food
    Template URI: http://perculatheme.com/html/food/
    Description: This is html5 template
    Author: Saikat Ahmed
    Author URI: https://about.me/saikatahmed
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
  
    1. Theme default CSS
    2. Home Classic
      2.1 Menu
      2.2 dropdown-menu
      2.3 submenu
      2.4 subscribe-box
      2.6 top-banner
      2.7 post content
      2.8 Sidebar
      2.9 Footer
    3. First post col 2 grid
    4. List layout
    5. Col 3 Grid
    7. Standard posts
    8. Full width post
    9. Gallery post
    10. Video post
    11. Music post
    12. Typography post
    13. Page feature area
    14. Recipe index
    15. Categories
    16. About me
    17. Cotact Us
    18. 404
    19. Upcoming
    20. All full width home


-----------------------------------------------------------------------------------*/


/*----------------------------------------*/


/*  1. Theme default CSS
/*----------------------------------------*/

.clear {
    clear: both
}

::-moz-selection {
    background: #e6ae48;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #e6ae48;
    color: #fff;
    text-shadow: none;
}

.no-mar {
    margin: 0!important;
}

.mar-bot-50 {
    margin-bottom: 50px!important;
}

.mar-bot-40 {
    margin-bottom: 40px!important;
}

.mar-bot-35 {
    margin-bottom: 35px!important;
}

.text-right {
    text-align: right;
}


/*----------------------------------------*/


/*  2. Home Classic
/*----------------------------------------*/

.header-top {
    border-bottom: 1px solid #dcdcdc;
    padding: 47px 0 2px;
}

.top-left {}

.top-left ul {}

.top-left ul li {
    display: inline-block;
    margin: 0 55px 0 0;
}

.top-left ul li a {
    color: #b6b6b6;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
}

.top-right {
    text-align: right;
}

.top-right ul {}

.top-right ul li {
    display: inline-block;
    margin-left: 6px;
}

.top-right ul li a {
    color: #b5b5b5;
    font-size: 16px;
}

.header-middle {
    padding: 38px 0 67px;
}

.subscribe a {
    background: #eeeeee none repeat scroll 0 0;
    border: medium none;
    color: #b6b6b6;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 8px 28px;
    text-transform: uppercase;
}

.logo {
    text-align: center;
}

.search {
    position: relative;
    text-align: right;
}

.search input {
    border: medium none;
    border-color: #eeeeee;
    height: 35px;
    padding: 0 35px 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 0;
}

.search:hover input,
.search input:focus {
    border: 1px solid #eeeeee;
    width: 150px;
}

.search a {
    bottom: 0;
    color: #858585;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}


/* 2.1 Menu */

.menu-area {}

.menu {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    padding: 20px 0;
    text-align: center;
}

.menu ul {}

.menu ul li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

.menu ul li:last-child {
    margin: 0;
}

.menu ul li a {
    color: #4e5665;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 0 28px 25px 0;
    position: relative;
}

.menu ul li.dropicon > a::after {
    content: "";
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: -3px;
}

.menu ul li:hover a {
    color: #e6ae48;
}

.menu-area.hidden-xs.navbar-fixed-top {
    animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #dcdcdc;
    border-top: 2px solid #dcdcdc;
    left: 0;
    padding: 0;
    position: fixed !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.navbar-fixed-top .menu {
    border: medium none;
}


/* 2.2 dropdown-menu */

.menu ul li .dropdown {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    left: 0;
    padding: 0 0 0 15px;
    position: absolute;
    text-align: left;
    top: 46px;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: center top 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 245px;
    z-index: 999;
}

.menu ul li:hover ul.dropdown {
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    visibility: visible;
}

.menu ul li .dropdown li {
    border-bottom: 1px solid #eeeeee;
    display: block;
    margin: 0;
    padding: 13px 0 6px;
    position: relative;
}

.menu ul li .dropdown li a {
    color: #3d4652;
    display: block;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
}

.menu ul li .dropdown.pages {
    left: -110px;
}


/* 2.3 submenu */

ul.dropdown li .submenu {
    position: absolute;
    right: 0;
    top: 0;
}

.menu ul li ul.dropdown li .submenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    opacity: 0;
    padding: 0 0 0 15px;
    position: absolute;
    right: -275px;
    text-align: left;
    top: 0;
    -webkit-transform: translate(25px, 0px);
    -moz-transform: translate(25px, 0px);
    -ms-transform: translate(25px, 0px);
    -o-transform: translate(25px, 0px);
    transform: translate(25px, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 275px;
}

.menu ul li ul.dropdown li:hover .submenu {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    visibility: visible;
}


/* 2.4 subscribe-box */

.subscribe-box {}

.subscribe-area {
    background: #ececec none repeat scroll 0 0;
    padding: 30px 28px;
}

.subscribe-text h4 {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 14px;
    margin: 0 0 7px;
    padding: 0 0 0 22px;
    position: relative;
}

.subscribe-text h4::before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: -1px;
}

.subscribe-text p {
    color: #4e5665;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.subscribe-form input.email {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #4e5665;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0;
    padding: 15px;
    width: 345px;
}

.subscribe-form input.submit {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 39px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 120px;
}

.subscribe-form input.submit:hover {
    background: transparent none repeat scroll 0 0;
    color: #e6ae48;
}


/* 2.6 top-banner */

.banner-area {
    padding: 40px 0 50px;
}

.banner .banner-img img {
    width: 100%;
}

.contents {
    display: inline-block;
    padding: 18px;
    position: relative;
    text-align: center;
    width: auto;
}

.contents::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9;
}

.contents-box {
    border: 1px solid #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75) inset;
    padding: 55px 60px;
}

.contents h2 {
    color: #434343;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 4px;
}

.contents p {
    color: #434343;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 3px;
}

.contents a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    color: #434343;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    padding: 2px 10px;
}

.banner {
    position: relative;
}

.banner-content {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-col3-full .col3-img img {
    width: 100%;
}

.banner-col3-full .col3-content h4 a,
.banner-col3-full .col3-content h4 {
    font-size: 26.89px;
    line-height: 32px;
    margin: 35px 0 12px;
}

.banner-col3-full .col3-content span {
    font-size: 20.91px;
}

.banner-col3-full .classic-post-item {
    margin-top: 5px;
}


/* 2.7 post content */

.post-img {
    overflow: hidden;
    position: relative;
}

.post-img-content {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.post-img-content h5 {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    padding: 14px 28px;
}

.post-img-content h5::after {
    border-right: 1px solid;
    content: "";
    height: 27px;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
}

.post-img-content h5 span {
    padding: 0 67px;
}

.post-img-content h5 span:first-child {
    padding-left: 0;
}

.post-img-content h5 span:last-child {
    padding-right: 0;
}

.post-img a {
    display: block;
    position: relative;
}

.post-img a::before,
.post-img a::after {
    bottom: 30px;
    content: "";
    left: 30px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    -moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    -ms-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}

.post-img a::before {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}

.post-img a::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}

.post-img:hover a::before,
.post-img:hover a::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-header {
    margin: 27px 0;
}

.post-header h2,
.post-header h2 a {
    color: #222222;
    font-family: Montserrat-Light;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.post-entry p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 16px;
}

p.continue {
    margin: 28px 0 0;
}

.continue a {
    border: 1px solid #e6ae48;
    color: #4e5665;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    padding: 9px 35px 9px 9px;
}

.post-meta {
    margin-top: 30px;
}

.post-meta div {
    display: inline-block;
}

.post-meta a,
.post-meta span {
    color: #4e5665;
    font-size: 14px;
    left: 0;
    line-height: 24px;
}

.meta-comments a i {
    margin-left: 5px;
}

.meta-comments {
    margin-right: 5px;
}

.post-share {
    margin-left: 118px;
}

.post-share a {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 26px;
}

.post-share a:hover {
    background: transparent none repeat scroll 0 0;
    color: #e6ae48!important;
}

.post-img img {
    width: 100%;
}

.cpost-v2-right .post-header h2,
.cpost-v2-right .post-header h2 a {
    color: #616161;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

.cpost-v2-right .post-entry p {
    color: #4e5665;
    font-weight: 300;
}

.cpost-v2-right .post-header {
    margin: 20px 0;
}

.cpost-v2-right .post-share {
    margin-left: 38px;
}

.cpost-v2-right p.continue {
    margin: 52px 0 0;
}

.cpost-v2-right .post-meta {
    margin-top: 46px;
}

.classic-post-v2 .post-img-content {
    bottom: 0;
}

.classic-post-v2 .post-img-content h5 {
    display: block;
    font-size: 20px;
    padding: 8px 0;
}

.classic-post-v2 .post-img-content h5::after {
    left: 40%;
}

.classic-post-v2 .post-img-content h5 span {}

.classic-post-v2 .post-img-content h5 span:first-child {
    padding-left: 0;
}

.classic-post-v2 .post-img-content h5 span:last-child {
    padding-left: 0;
}

.post-pagination-area {
    margin: 71px 0 0;
    text-align: left;
}

.post-pagination-area a {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #4e5665;
    font-size: 11px;
    padding: 10px 20px;
}


/* 2.8 Sidebar */

.sidebar-area {
    padding-top: 20px;
}

.widget-item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d4d4d4 #d4d4d4 #d4d4d4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    margin: 0 0 40px;
    padding: 25px;
    position: relative;
}

.widget-item.about-widget {
    margin-bottom: 60px;
}

.auth-img img {
    width: 100%;
}

.auth-content {
    margin: 13px 0 8px;
    text-align: center;
}

.auth-content p {
    color: #4e5665;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 24px;
}

.auth-sign {
    text-align: center;
}

.auth-social {
    text-align: center;
}

.auth-social a {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}

.auth-social a:hover {
    background: transparent none repeat scroll 0 0;
    color: #e6ae48;
}

.auth-social {
    background: #fff none repeat scroll 0 0;
    bottom: -15px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 200px;
}

.auth-box {
    background: #fff none repeat scroll 0 0;
    left: 0;
    padding: 0 33px 0 0;
    position: absolute;
    top: -15px;
}

.auth-box a {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    color: #fff;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    text-align: center;
    width: auto;
}

.auth-box a:hover {
    color: #fff!important;
}

.follow-box {
    text-align: center;
}

.follow-box a {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    width: 30px;
}

.follow-box a:hover {
    background: transparent none repeat scroll 0 0;
    color: #e6ae48;
}

.widget-item.subscribe-widget {
    padding-bottom: 20px;
}

.widget-item.promo-widget {
    border: medium none;
    padding: 0;
}

.promo-item img {
    width: 100%;
}

.promo-item {
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
}

.promo-text {
    bottom: 7px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.promo-text a {
    color: #fff !important;
    display: inline;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 400;
    padding: 15px 20px;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}

.promo-text a::before {
    background: #e6ae48 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9;
}

.widget-item.newsletter-widget {
    background: #ececec none repeat scroll 0 0;
    border: medium none;
    box-shadow: 3px 3px 4px -3px rgba(0, 0, 0, 0.75);
    margin-bottom: 55px;
    padding: 25px 40px;
    text-align: center;
}

.subscribe-text.newsletter-text h4::before {
    left: 35px;
}

.subscribe-form.newsletter-form input.email {
    margin: 0 0 12px;
    width: 100%;
}

.subscribe-form.newsletter-form input.submit {
    padding-left: 15px;
    padding-top: 4px;
    text-align: left;
    width: 100%;
}

.subscribe-form.newsletter-form {
    margin: 25px 0 0;
}

.post-single .postsin-img {
    float: left;
    width: 38%;
}

.post-single .postsin-content {
    float: left;
    padding: 0 0 0 15px;
    width: 62%;
}

.postsin-content h4 a,
.postsin-content h4 {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0 0 -4px;
}

.postsin-content span {
    color: #4e5665;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
}

.post-single {
    margin: 20px 0;
}

.widget-item.post-widget {
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.widget-post {
    background: #fff none repeat scroll 0 0;
    left: 0;
    padding-right: 15px;
    position: absolute;
    top: -15px;
}

.widget-post li {
    display: inline-block;
}

.widget-post li a {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #e6ae48;
    padding: 6px 15px;
}

.widget-post li.active a {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff !important;
}

.tabcomment-single div {
    display: inline-block;
}

.tabcomment-img {
    width: 27%;
}

.tabcomment-text {
    float: right;
    width: 70%;
}

.tabcomment-text a {
    color: #4e5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
}

.tabcomment-single {
    margin-top: 20px;
}

.widget-cat {}

.widget-cat ul {}

.widget-cat ul li {
    display: block;
    margin: 0 0 8px;
}

.widget-cat ul li a {
    color: #4e5665;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
}

.widget-item.ad-widget {
    border: medium none;
    padding: 0;
}

.widget-item.ad-widget > img {
    width: 100%;
}

.spot-banner {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.widget-item.facebook-widget {
    border: medium none;
    margin-bottom: 30px;
    padding: 0;
}

.fb-page-plugin {
    border: medium none;
    height: 220px;
    overflow: hidden;
    width: 100%;
}


/* 2.9 Footer */

footer {
    padding: 0 0 15px;
}

.instagram-area {
    position: relative;
}

.instagram-area h4 {
    background: #fff none repeat scroll 0 0;
    box-shadow: 3px 3px 4px -3px rgba(0, 0, 0, 0.75);
    color: #4e5665;
    font-family: Montserrat-Light;
    font-size: 14px;
    height: 52px;
    left: 0;
    letter-spacing: 0;
    line-height: 52px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 230px;
    z-index: 9;
}

.instagram-area ul {}

.instagram-area ul li {
    display: inline;
    float: left;
    width: 16.6667%;
}

.instagram-area ul li a {}

.instagram-area ul li a img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.instagram-area ul li a img:hover {
    opacity: 0.87;
}

.footer-bottom-area .copyright,
.footer-bottom-area .copyright a {
    color: #4e5665;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.footer-social {
    text-align: center;
}

.footer-right-copy {
    text-align: right;
}

.footer-bottom-area {
    box-shadow: 3px 3px 4px -3px rgba(0, 0, 0, 0.75);
    padding: 25px 30px;
}

.footer-right-copy a.top-scroll {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff !important;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 0 23px;
    padding: 0 4px;
    position: relative;
}

.top-endi {
    border-color: transparent transparent #e6af48;
    border-style: solid;
    border-width: 0 25px 18px;
    height: 0;
    left: -9px;
    margin: auto;
    position: absolute;
    top: -18px;
    width: 0;
}


/*----------------------------------------*/


/*  3. First post col 2 grid
/*----------------------------------------*/

.post-grid2 .post-content-area {
    padding-bottom: 90px;
}

.banner-post-area {
    padding: 80px 0 59px;
}

.banner-post {
    text-align: center;
}

.banner-post .post-img-content h5 {
    font-size: 20px;
    padding: 9px 13px;
}

.banner-post .post-img-content {
    bottom: 0;
}

.banner-post .post-img-content h5 span {
    padding: 0 30px;
}

.banner-post .post-img-content h5::after {
    left: 45%;
}

.banner-post .post-header h2,
.banner-post .post-header h2 a {
    color: #616161;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.banner-post .post-entry p {
    font-size: 20px;
    line-height: 34px;
}

.col2-img img {
    width: 100%;
}

.single-col2 {
    text-align: center;
}

.single-col2 .post-img-content {
    bottom: 0;
}

.single-col2 .post-img-content h5 {
    display: block;
    font-size: 20px;
}

.single-col2 .post-img-content h5 span {
    padding: 0 35px;
}

.single-col2 .post-img-content h5 span:first-child {
    padding-left: 0;
}

.single-col2 .post-img-content h5 span:last-child {
    padding-right: 0;
}

.single-col2 .post-img-content h5::after {
    left: 42%;
}

.col2-content {
    margin: 22px 0 0;
}

.col2-content h4,
.col2-content a {
    color: #616161;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 15px;
}

.col2-content p {
    color: #4e5665;
    font-weight: 400;
    letter-spacing: 0;
}

.grid-post-col2 {
    margin-top: 77px;
}


/*----------------------------------------*/


/*  4. List layout
/*----------------------------------------*/

.list-layout .post-content-area {
    padding: 50px 0 80px;
}

.home-grid2 .grid-post-col2 {
    margin: 0;
}


/*----------------------------------------*/


/*  5. Col 3 Grid
/*----------------------------------------*/

.col3-home .post-content-area {
    padding: 50px 0 0;
}

.col3-home .sidebar-area {
    padding-top: 0;
}

.single-col3 .post-img-content {
    bottom: 0;
}

.single-col3 .post-img-content h5 {
    display: block;
    font-size: 14px;
    padding: 5px 5px;
}

.single-col3 .post-img-content h5::after {
    left: 40%;
}

.single-col3 .post-img-content h5 span {
    padding: 0 20px;
}

.single-col3 .post-img-content h5 span:first-child {
    padding-left: 0;
}

.single-col3 .post-img-content h5 span:last-child {
    padding-right: 0;
}

.single-col3 .col2-content h4,
.single-col3 .col2-content a {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px;
}

.single-col3 .col2-content p {
    font-size: 16px;
    line-height: 24px;
}

.single-col3 {
    text-align: center;
}


/*----------------------------------------*/


/*  6. banner-col3
/*----------------------------------------*/

.banner-col3 .post-content-area {
    padding: 0 0 80px;
}


/*----------------------------------------*/


/*  7. Standard post
/*----------------------------------------*/

.post-timer {
    margin: 40px 0 42px;
}

.timer-left h2 {
    color: #6c6c6c;
    font-family: Montserrat-Light;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 19px;
}

.timer-left ul {
    border-bottom: 2px solid #c3c3c3;
    border-top: 2px solid #c3c3c3;
    padding: 8px 0 7px;
}

.timer-left {
    margin: 0 0 10px;
}

.timer-left ul li {
    border-right: 1px solid #d0d0d0;
    display: inline-block;
    float: left;
    text-align: center;
    width: 33.33%;
}

.timer-left ul li:last-child {
    border: medium none;
}

.timer-left ul li span {
    display: block;
}

.standard-post .post-entry {
    margin: 0 0 53px;
}

.timer-left ul li span {
    color: #222222;
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 14px;
}

.timer-left ul li span.clc-icon {
    color: #4e5665;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
}

.timer-left ul li span.clc-icon::before {
    color: #222222;
    content: "";
    font-family: fontawesome;
    font-size: 14px;
    left: -15px;
    position: absolute;
    top: 0;
}

.post-others p,
.post-others span,
.timer-desc ul li {
    color: #4e5665;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0 0 11px;
}

.post-others span,
.timer-desc span {
    color: #222222;
    display: block;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin: 0;
}

.post-others {
    margin: 0 0 22px;
}

.timer-desc h3 {
    border-top: 2px solid #c3c3c3;
    color: #6c6c6c;
    font-family: Montserrat-Light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 18px;
    padding: 20px 0 0;
}

.timer-desc ul li {
    margin: 0 0 5px;
    padding: 0 0 0 12px;
}

.timer-desc span {
    margin: 35px 0 8px;
}

.timer-right {
    margin: 68px 0 0;
    text-align: center;
}

.timer-right > img {
    display: block;
}

.timer-right a {
    background: #ececec none repeat scroll 0 0;
    color: #222222;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0;
    margin: 14px 0 0;
    padding: 0 25px 0 35px;
    position: relative;
}

.timer-right a::before {
    font-family: FontAwesome;
    left: 15px;
    position: absolute;
    top: 0;
}

.timer-right a.save::before {
    content: "";
}

.timer-right a.print::before {
    content: "";
}

.timer-instruction {
    margin: 23px 0 0;
}

.timer-instruction h3 {
    border-top: 2px solid #c3c3c3;
    color: #6c6c6c;
    font-family: Montserrat-Light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 18px;
    padding: 20px 0 0;
}

.timer-instruction ul li,
.timer-instruction p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0 0 15px;
    padding: 0 0 0 15px;
}

.timer-instruction p.last {
    margin: 47px 0 0;
    padding: 0;
}

.timer-instruction ul.tags {
    margin: 22px 0 0;
}

.timer-instruction ul.tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.timer-instruction ul.tags li a {
    background: #ededed none repeat scroll 0 0;
    color: #222222;
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding: 4px 9px;
}

.standard-post .post-article-area .subscribe-form input.email {
    width: 264px;
}

.prev-post h4 a {
    background: #e6ae48 none repeat scroll 0 0;
    border: 1px solid #e6ae48;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 4px 18px;
}

.prev-post h4 a:hover {
    background: transparent none repeat scroll 0 0;
}

.prev-next-post {
    margin: 50px 0 0;
}

.prev-post h4 {
    margin: 0 0 20px;
}

.prev-img {
    position: relative;
}

.prev-img h5 {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.prev-img h5::after {
    border-right: 1px solid;
    color: #fff;
    content: "";
    height: 20px;
    left: -15px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
}

.prev-img h5 a {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff !important;
    float: left;
    font-size: 11px;
    font-weight: 400;
    padding: 2px 0;
    width: 50%;
}

.prev-content h3,
.prev-content h3 a {
    color: #3b3b3b;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 0 3px;
}

.prev-content span {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.prev-content {
    margin: 22px 0 0;
    text-align: center;
}

.prev-post.next-post > h4 {
    text-align: right;
}

.prev-post.next-post {
    text-align: right;
}

.post-about-img {
    float: left;
    width: 12%;
}

.post-about {
    border: 1px solid #acacac;
    margin: 41px 0 0;
    padding: 24px 22px;
    position: relative;
}

.post-about .post-about-top {
    background: #fff none repeat scroll 0 0;
    left: 90px;
    padding: 0 15px;
    position: absolute;
    top: -15px;
}

.post-about .post-about-top a {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    padding: 2px 25px;
}

.post-about-content p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.post-about-content {
    float: left;
    padding: 0 0 0 25px;
    width: 88%;
}

.post-article-area .auth-social {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin: 0;
    position: inherit;
    right: 0;
    text-align: left;
    width: auto;
}

.also-like-area h4 {
    color: #353535;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 26px;
    text-align: center;
}

.also-like-area {
    margin: 47px 0 0;
}

.comments-area {
    margin: 8px 0 0;
}

.comments-area h4 {
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 21px;
    padding: 0 0 0 20px;
}

.single-comment {
    border-top: 1px solid #222222;
    margin: 0 0 47px;
    padding: 33px 0 0;
}

.comment-img {
    float: left;
}

.comment-content {
    float: left;
    padding: 0 0 0 15px;
}

.comment-content a.name,
.comment-content a.date {
    color: #4e5665;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
}

.comment-p-reply p,
.comment-p-reply p span {
    color: #4e5665;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.comment-p-reply p {
    margin: 0 0 10px;
}

.comment-p-reply span {
    padding: 0 0 0 60px;
}

.comment-p-reply {
    margin: 10px 0 0;
}

.comment-p-reply a {
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: underline;
}

.comment-1 {
    padding-left: 45px;
}

.comment-11 {
    margin-left: 25px;
    padding-left: 20px;
}

.comment-2 {
    margin-left: 60px;
    padding-left: 20px;
}

.comment-3 {
    margin-left: 90px;
    padding-left: 20px;
}

.another-comment {
    margin-top: 112px;
}

.leave-reply {
    margin: 97px 0 0;
}

.leave-reply h3 {
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 16px;
}

.leave-reply p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.leave-reply form {
    margin: 11px 0 0;
    width: 90.2%;
}

.leave-reply form label {
    color: #4e5665;
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 7px 0 0;
}

textarea.comment {
    border: 1px solid #b7b7b7;
    color: #4e5665;
    font-weight: 300;
    height: 125px;
    letter-spacing: 0;
    padding: 0 5px;
    width: 100%;
}

.leave-reply input {
    border: 1px solid #4e5665;
    color: #4e5665;
    font-weight: 300;
    height: 35px;
    letter-spacing: 0;
    padding: 5px;
    width: 50%;
}

.rate-this span {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 7px 0 0;
}

.rate-this a {
    display: inline-block;
    font-size: 14px;
}

.rate-this {
    margin: 10px 0 0;
}

.comment-submit a {
    background: #222222 none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    padding: 7px 9px;
}

.comment-submit {
    margin: 2px 0 0;
}

.standard-post .post-content-area {
    padding: 40px 0 80px;
}


/*----------------------------------------*/


/*  8. Full width post
/*----------------------------------------*/

.prev-next-post img {
    width: 100%;
}

.fullwidth-post .timer-right a {
    float: left;
    font-size: 28px;
    margin: 30px 0 0 45px;
    padding: 12px 25px 12px 55px;
}

.fullwidth-post .timer-right a::before {
    top: 12px;
}

.fullwidth-post .post-timer {
    margin: 63px 0 42px;
}

.fullwidth-post .single-col3 .post-img-content h5 {
    display: block;
    font-size: 22px;
    padding: 15px 5px;
}

.fullwidth-post .post-content-area {
    padding: 50px 0;
}


/*----------------------------------------*/


/*  9. Gallery post
/*----------------------------------------*/

.owl-theme .owl-controls .owl-buttons div {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    margin: 5px;
    opacity: 0.5;
    padding: 1px 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.gallery-post .owl-buttons .owl-prev {
    left: 25px;
}

.gallery-post .owl-buttons .owl-next {
    right: 25px;
}

.gallery-post .post-entry {
    margin: 0 0 47px;
}

.post-gallery {
    position: relative;
}

.post-gallery .post-img-content {
    bottom: 20px;
}

.gallery-post .post-content-area {
    padding: 50px 0;
}


/*----------------------------------------*/


/*  10. Video post
/*----------------------------------------*/

.post-video > iframe {
    width: 100%;
}

.video-post .post-content-area {
    padding: 50px 0;
}


/*----------------------------------------*/


/*  11. Music post
/*----------------------------------------*/

.post-music > iframe {
    width: 100%;
}

.post-entry-inside h2 {
    color: #000000;
    font-family: Montserrat-Light;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 28px;
}

.post-entry-inside {
    margin: 29px 0 41px;
}

.post-entry-inside img {
    width: 100%;
}

.post-entry-inside p {
    margin: 0 0 15px;
}

.music-post .post-content-area {
    padding: 50px 0;
}


/*----------------------------------------*/


/*  12. Typography post
/*----------------------------------------*/

.typography-post-area {
    margin: 14px 0 0;
}

.typography-post-area p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.typohdr-img {
    margin: 0 0 18px;
}

.simple-cake-right img {
    width: 100%;
}

.typography-post-area h2 {
    color: #4e5665;
    font-family: Montserrat-Light;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.simple-cake-left h2 {
    margin: 11px 0 15px;
}

.simple-cake-area {
    margin: 13px 0 0;
}

.hi-title-area {
    margin: 33px 0 0;
}

.hi-title-area h2 {
    margin: 0 0 25px;
}

.title-mug {
    text-align: center;
}

.title-mug {
    margin: 36px 0 0;
}

.title-mug h2 {
    position: relative;
}

.title-mug h2::before {
    color: #ff9524;
    content: "";
    font-family: FontAwesome;
    font-size: 32px;
    left: 15px;
    position: absolute;
    top: 3px;
}

.subtitle-welcome {
    margin: 70px 0 0;
}

.subtitle-welcome h2 {
    margin: 0 0 40px;
}

.subtitle-welcome p {
    margin: 0 0 23px;
}

.subtitle-img img {
    width: 100%;
}

.subtitle-welcome .subtitle-img p {
    letter-spacing: 1px;
    margin: 20px 0 0;
    text-align: center;
}

.typography-post-area h1 {
    color: #4e5665;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 20px;
}

.headings-area h2,
.headings-area h3,
.headings-area h4,
.headings-area h5,
.headings-area h6 {
    color: #4e5665;
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 25px;
}

.headings-area h3 {
    font-size: 22px;
}

.headings-area h4 {
    font-size: 19px;
}

.headings-area h5 {
    font-size: 17px;
}

.headings-area h6 {
    border-bottom: 1px solid #ff9524;
    font-size: 15px;
    margin: 0;
    padding: 0 0 48px;
}

.headings-area {
    margin: 60px 0 0;
}

.headings-area p {
    border-bottom: 1px solid #ff9524;
    margin: 0 0 35px;
    padding: 0 0 21px;
}

.blockquote-area {
    margin: 54px 0 0;
}

.blockquote-area h1 {
    margin: 0 0 30px;
}

.blockquote-area blockquote {
    border-left: 1px solid #ff9524;
    color: #4e5665;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 22px;
    padding-left: 28px;
}

.blockquote-area p {
    margin: 0 0 44px;
}

.blockquote-area blockquote span {
    padding-left: 37px;
}

.unorder-list {
    margin: 38px 0 0;
}

.unorder-list h1 {
    margin-bottom: 11px;
}

.unorder-list ul,
.order-list ol {
    margin: 27px 0 0 72px;
}

.unorder-list ul li,
.order-list ol li {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    list-style: outside square;
    padding-left: 8px;
}

.order-list {
    margin: 44px 0 0;
}

.order-list h1 {
    margin-bottom: 17px;
}

.order-list ol {
    margin-left: 55px;
}

.order-list ol li {
    list-style: inherit;
    padding-left: 4px;
}

.typography-post .post-content-area {
    padding: 35px 0 50px;
}


/*----------------------------------------*/


/*  13. Page feature area
/*----------------------------------------*/

.also-like-area .latest-recipe {
    background: #e6ae48 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 10px 47px 7px 9px;
}

.feature-subtitle-welcome h2 {
    color: #6c6c6c;
    font-family: Montserrat-Light;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 42px;
}

.feature-subtitle-welcome p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 19px 0 0;
    text-align: center;
}

.also-like-title {
    position: relative;
}

.page-feature-full .also-like-area .also-like-title::before {
    background: #a1a1a1 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.page-feature-full .also-like-area h3.latest-recipe {
    background: #fff none repeat scroll 0 0;
    color: #3b3b3b;
    display: inline-block;
    font-family: Montserrat-Light;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0 0 16px;
    padding-right: 15px;
    position: relative;
}

.page-feature-full .timer-right a::before {
    top: 12px;
}

.page-feature-full .timer-right a {
    float: left;
    font-size: 28px;
    margin: 30px 0 0 45px;
    padding: 12px 25px 12px 55px;
}

.full-post-timer {
    color: #4e5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 20px;
}

.page-feature-full .single-col3 .post-img-content h5 {
    display: block;
    font-size: 22px;
    padding: 15px 5px;
}

.page-feature-full .single-col3 .col2-content h4,
.page-feature-full .single-col3 .col2-content h4 a {
    font-size: 26px;
    line-height: 28px;
}


/*----------------------------------------*/


/*  14. Recipe index
/*----------------------------------------*/

.recipe-index-area {
    padding: 41px 0 80px;
}

.recipe-header h4 {
    background: #fff none repeat scroll 0 0;
    color: #3b3b3b;
    display: inline-block;
    font-family: Montserrat-Light;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    padding-right: 35px;
    z-index: 999;
}

.recipe-header a {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    float: right;
    padding-left: 18px;
    z-index: 9;
}

.recipe-header {
    margin: 0 0 17px;
    position: relative;
}

.recipe-header::before {
    background: #a1a1a1 none repeat scroll 0 0;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: -9;
}

.recipe-row .post-img-content {
    bottom: 0;
}

.recipe-row .post-img-content h5 {
    display: block;
    font-size: 18px;
    padding: 14px 10px;
}

.recipe-row .post-img-content h5::after {
    left: 40%;
}

.recipe-row .post-img-content h5 span {
    padding: 0 15px;
}

.recipe-row .post-img-content h5 span:first-child {
    padding-left: 0;
}

.recipe-row .post-img-content h5 span:last-child {
    padding-right: 0;
}

.recipe-row-1 .post-img-content h5 {
    display: block;
    font-size: 14px;
    padding: 5px 10px;
}

.recipe-row-3 .col2-content {
    text-align: center;
}

.recipe-row-4 .cpost-v2-right .post-header h2 {
    font-size: 36px;
}

.recipe-row {
    margin: 0 0 44px;
}

.recipe-row.recipe-row-2 {
    margin: 0 0 51px;
}

.recipe-row.recipe-row-3 {
    margin: 0 0 50px;
}

.recipe-index2 .recipe-row .post-img-content h5 {
    font-size: 14px;
}

.recipe-index2 .recipe-row.recipe-row3 .post-img-content h5 {
    font-size: 20px;
}

.recipe-index2 .recipe-row.recipe-row3 .col2-content {
    text-align: center;
}

.recipe-index2 .recipe-index-area {
    padding: 41px 0 36px;
}

.recipe-row.recipe-row2 {
    margin: 0 0 51px;
}

.recipe-index3 .recipe-row .post-img-content h5 {
    font-size: 14px;
}

.recipe-index3 .recipe-row.recipe-row2 .post-img-content h5 {
    font-size: 20px;
}

.recipe-index3 .recipe-row.recipe-row3 .post-img-content h5 {
    font-size: 20px;
}


/*----------------------------------------*/


/*  15. Categories
/*----------------------------------------*/

.categories-logo-area {
    padding: 50px 0;
}

.categories-logo {
    text-align: center;
}


/*----------------------------------------*/


/*  16. About me
/*----------------------------------------*/

.about-left img {
    width: 100%;
}

.about-p p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 23px 0 30px;
}

.about-faq h2 {
    color: #2b2b2b;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.about-faq p,
.about-faq p a {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.about-faq p.bold,
.about-faq p.bold a {
    font-weight: 700;
    margin: 8px 0 0;
}

.about-faq p.bold a {
    text-decoration: underline;
}

.about-faq .about-faq {
    margin: 47px 0 0;
}

.about-faq .faq {
    margin: 0 0 15px;
}

.about-faq .what-kind {
    margin: 0 0 9px;
}

.about-faq .doyou {
    margin: 27px 0 5px;
}

.about-faq .whydo-p {
    margin: 0 0 15px;
}

.about-faq .favourite {
    margin: 40px 0 7px;
}

.about-faq .hughs {
    margin: 32px 0 5px;
}

.about-area {
    padding: 50px 0 35px;
}

.my-latest-recipe {
    margin: 44px 0 0;
}


/*----------------------------------------*/


/*  17. Cotact Us
/*----------------------------------------*/

.contact-area {
    padding: 40px 0 0;
}

.contact-content {
    margin: 45px 0 0;
}

.contact-content h2 {
    color: #3b3b3b;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 17px;
}

.contact-content p {
    color: #4e5665;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
}

.contact-form {
    margin: 36px 0 0;
}

.input-row {
    margin: 0 0 17px;
}

.contact-form label {
    color: #8e8e8e;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 3px;
}

.input-row input {
    border: 1px solid #c6c6c6;
    height: 37px;
    letter-spacing: 0;
    padding: 5px 8px;
    width: 40%;
}

textarea.contact-textarea {
    border: 1px solid #c6c6c6;
    min-height: 170px;
    padding: 5px 8px;
    width: 90%;
}

input.send {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #2b2b2b;
    font-size: 13px;
    height: 30px;
    letter-spacing: 0;
    line-height: 24px;
    padding: 0 19px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: auto;
}

input.send:hover {
    background: #e6ae48 none repeat scroll 0 0;
    border-color: #e6ae48;
    color: #fff;
}


/*----------------------------------------*/


/*  18. 404
/*----------------------------------------*/

.error-area {
    padding: 40px 0 50px;
}

.error-content {
    background: rgba(0, 0, 0, 0) url("../img/banner/404.jpg") repeat scroll 0 0;
    padding: 64px 0 135px;
    text-align: center;
}

.error-content h1 {
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;
    margin: 0 0 12px;
    position: relative;
}

.error-content h1::before {
    background: #ffba3b none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.65);
    content: "";
    height: 10px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 43%;
    width: 9px;
}

.error-content h3 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 2px;
}

.error-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 21px;
    margin: 0 0 168px;
}

a.backto {
    background: #ebebeb none repeat scroll 0 0;
    color: #3d4652;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 60px;
    padding: 15px 20px 13px 55px;
    position: relative;
}

a.backto::before {
    content: "";
    font-family: FontAwesome;
    height: auto;
    left: 25px;
    position: absolute;
    top: -5px;
    width: auto;
}

.error .subscribe-box {
    padding: 0 0 84px;
}


/*----------------------------------------*/


/*  19. Upcoming
/*----------------------------------------*/

.coming-soon-area {
    background: rgba(0, 0, 0, 0) url("../img/bg/coming.png") repeat scroll 0 0;
}

.coming-content {
    padding: 122px 0 165px;
    text-align: center;
}

.coming h1 {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 112px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 112px;
    margin: 0 0 17px;
}

.coming-content p {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.timer-area {
    border-bottom: 1px solid #fbaf5d;
    border-top: 1px solid #fbaf5d;
    margin: 29px 0 0;
    padding: 52px 0 32px;
}

.timer-area .cdown {
    display: inline-block;
    margin-right: 60px;
    width: 200px;
}

.cdown .time-count {
    color: #fff;
    display: inline-block;
    font-size: 84px;
    font-weight: 300;
    letter-spacing: 0;
}

.cdown p {
    color: #fbaf5d;
    display: inline-block;
    float: right;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 3px 0 0 20px;
}

.coming .subscribe-box {
    padding-bottom: 220px;
}

.coming .subscribe-area {
    background: transparent none repeat scroll 0 0;
    position: relative;
}

.coming .subscribe-area::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}


/*----------------------------------------*/


/*  20. All full width home
/*----------------------------------------*/


/*home-banner-col3*/

.banner-col3-full .cpost-v2-right .post-header h2,
.banner-col3-full .cpost-v2-right .post-header h2 a {
    font-size: 36px;
}

.banner-col3-full .continue a {
    font-size: 24px;
    padding: 14px 45px 14px 13px;
}

.banner-col3-full .post-meta a,
.banner-col3-full .post-meta span {
    font-size: 24px;
}

.banner-col3-full .post-share a {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.banner-col3-full .cpost-v2-right .post-header {
    margin: 32px 0;
}

.banner-col3-full .post-entry {
    margin: 37px 0 0;
}

.banner-col3-full .cpost-v2-right p.continue {
    margin: 80px 0 0;
}

.banner-col3-full .cpost-v2-right .post-meta {
    margin-top: 60px;
}

.banner-col3-full .classic-post-v2 .post-img-content h5 {
    font-size: 24px;
}

.banner-col3-full .post-img-content h5 {
    font-size: 28px;
}

.banner-col3-full .post-header h2 {
    font-size: 42px;
    line-height: 42px;
}

.banner-col3-full .post-entry p {
    font-size: 20px;
    line-height: 34px;
}

.banner-col3-full .post-header {
    margin: 41px 0;
}

.banner-col3-full p.continue {
    margin: 50px 0 0;
}

.banner-col3-full .post-meta {
    margin-top: 50px;
}

.banner-col3-full .post-content-area {
    padding-bottom: 80px;
}


/*home-banner-col2-full*/

.post-grid2-full .post-content-area .post-img-content h5::after {
    left: 55%;
}

.post-grid2-full .post-img-content h5 {
    font-size: 28px;
}

.post-grid2-full .post-img-content h5::after {
    left: 43%;
}

.post-grid2-full .post-img-content {
    bottom: 15px;
}

.post-grid2-full .post-content-area .post-header h2,
.post-grid2-full .post-content-area .post-header h2 a {
    font-size: 42px;
    line-height: 36px;
}

.post-grid2-full .post-entry p {
    font-size: 20px;
    line-height: 34px;
}

.post-grid2-full .continue a {
    font-size: 22px;
    padding: 15px 53px 16px 12px;
}

.post-grid2-full .post-meta a,
.post-grid2-full .post-meta span {
    font-size: 21px;
}

.post-grid2-full p.continue {
    margin: 50px 0 0;
}

.post-grid2-full .post-meta {
    margin-top: 60px;
}

.post-grid2-full .post-share a {
    font-size: 14px;
    height: 30px;
    width: 30px;
}

.post-grid2-full .post-share a {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.post-grid2-full .classic-post-item .post-header {
    margin: 44px 0;
}

.post-grid2-full .post-content-area .col2-img .post-img-content h5::after {
    left: 43%;
}

.post-grid2-full .single-col2 .post-img-content {
    bottom: 0;
}

.post-grid2-full .post-content-area {
    padding-bottom: 90px;
}

.post-grid2-full .banner-post-area .post-img-content {
    bottom: 0;
}


/*first-post-list-full*/

.list-post-full .cpost-v2-right .post-header {
    margin: 32px 0;
}

.list-post-full .cpost-v2-right .post-header h2,
.list-post-full .cpost-v2-right .post-header h2 a {
    font-size: 36px;
}

.list-post-full .post-entry {
    margin: 37px 0 0;
}

.list-post-full .post-entry p {
    font-size: 20px;
    line-height: 34px;
}

.list-post-full .cpost-v2-right p.continue {
    margin: 80px 0 0;
}

.list-post-full .cpost-v2-right .post-meta {
    margin-top: 60px;
}

.list-post-full .post-meta a,
.list-post-full .post-meta span {
    font-size: 24px;
}

.list-post-full .post-share a {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.list-post-full .continue a {
    font-size: 24px;
    padding: 14px 45px 14px 13px;
}

.list-post-full .post-content-area {
    padding-bottom: 90px;
}


/*home-col2-grid-full*/

.home-grid2-full .single-col2 .post-img-content h5 {
    display: block;
    font-size: 28px;
    padding: 17px 10px;
}

.home-grid2-full .col2-content h4,
.home-grid2-full .col2-content a {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 38px;
}

.home-grid2-full .col2-content p {
    font-size: 24px;
    line-height: 36px;
}

.home-grid2-full .col2-content {
    margin: 29px 0 0;
}

.home-grid2-full .grid-post-col2 {
    margin-top: 0;
}

.home-grid2-full .post-content-area {
    padding: 0 0 90px;
}


/*home-col3-grid-full*/

.col3-home-full .single-col3 .post-img-content h5 {
    font-size: 22px;
    padding: 15px 5px;
}

.col3-home-full .single-col3 .col2-content h4,
.col3-home-full .single-col3 .col2-content a {
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 13px;
}

.col3-home-full .single-col3 .col2-content p {
    font-size: 14px;
    line-height: 24px;
}

.col3-home-full .col2-content {
    margin: 30px 0 0;
}

.col3-home-full .cpv2-full .cpost-v2-right .post-header h2,
.col3-home-full .cpv2-full .cpost-v2-right .post-header h2 a {
    font-size: 36px;
    line-height: 36px;
}

.col3-home-full .cpv2-full .continue a {
    font-size: 24px;
    line-height: 24px;
    padding: 13px 40px 13px 13px;
}

.col3-home-full .cpv2-full .post-meta a,
.col3-home-full .post-meta span {
    font-size: 24px;
    line-height: 24px;
}

.col3-home-full .cpv2-full .post-share a {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.col3-home-full .cpv2-full .cpost-v2-right .post-header {
    margin: 28px 0 35px;
}

.col3-home-full .cpv2-full .cpost-v2-right p.continue {
    margin: 80px 0 0;
}

.col3-home-full .cpv2-full .cpost-v2-right .post-meta {
    margin-top: 60px;
}

.col3-home-full .cpv2-full.classic-post-v2 .post-img-content h5 {
    display: block;
    font-size: 24px;
    padding: 15px 0;
}

.col3-home-full .post-content-area {
    padding: 50px 0 90px;
}


/*classic-layout-full*/

.classic-full .post-header h2,
.classic-full .post-header h2 a {
    font-size: 42px;
    line-height: 36px;
}

.classic-full .post-entry p {
    font-size: 20px;
    line-height: 34px;
}

.classic-full .post-header {
    margin: 38px 0;
}

.classic-full .continue a {
    font-size: 22px;
    line-height: 36px;
}

.classic-full .post-meta a,
.classic-full .post-meta span {
    color: #4e5665;
    font-size: 20px;
    left: 0;
    line-height: 24px;
}

.classic-full .post-share a {
    color: #fff !important;
    font-size: 16px !important;
    height: 30px;
    line-height: 28px !important;
    width: 30px;
}

.classic-full .post-share a:hover {
    color: #E6AE48 !important;
}

.classic-full .cpost-v2-right .post-header h2,
.classic-full .cpost-v2-right .post-header h2 a {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 40px;
}

.classic-full .cpost-v2-right .post-header {
    margin: 29px 0;
}

.classic-full .cpost-v2-right p.continue {
    margin: 78px 0 0;
}

.classic-full .cpost-v2-right .post-meta {
    margin-top: 60px;
}

.classic-full .post-img-content h5 {
    font-size: 28px;
}

.classic-full .classic-post-v2 .post-img-content h5 {
    font-size: 24px;
}

.classic-full .post-content-area {
    padding-bottom: 90px;
}


/*home-list-layout-full*/

.list-layout-full .cpv2-full .cpost-v2-right .post-header {
    margin: 28px 0 35px;
}

.list-layout-full .cpv2-full .cpost-v2-right .post-meta {
    margin-top: 60px;
}

.list-layout-full .cpv2-full .cpost-v2-right .post-header h2,
.list-layout-full .cpv2-full .cpost-v2-right .post-header h2 a {
    font-size: 36px;
    line-height: 36px;
}

.list-layout-full .cpv2-full .cpost-v2-right p.continue {
    margin: 80px 0 0;
}

.list-layout-full .cpv2-full .continue a {
    font-size: 24px;
    line-height: 24px;
    padding: 13px 40px 13px 13px;
}

.list-layout-full .cpv2-full .post-meta a,
.list-layout-full .post-meta span {
    font-size: 24px;
    line-height: 24px;
}

.list-layout-full .cpv2-full .post-share a {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.list-layout-full .cpv2-full.classic-post-v2 .post-img-content h5 {
    display: block;
    font-size: 24px;
    padding: 15px 0;
}

.list-layout-full .post-content-area {
    padding: 40px 0 90px;
}
